@media only screen and (max-width: 600px) {

 
  .character_card{
    flex: 100%;
    height: 25vh;

  }

  .card_foto{
    width: 35vw;
    height: 25vh;
  }

  .card_info{
    height: 22vh;
  }

  .navegacao{
    width: 100%;
  }

  /* #backToTopBtn{
    right: 2rem;
    bottom: 7rem;
  } */

}